allure-behave==2.13.2
allure-combine==1.0.11
allure-python-commons==2.13.2
Appium-Python-Client==2.11.1
attrs==23.2.0
beautifulsoup4==4.12.3
behave==1.2.6
bs4==0.0.2
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
google-api-core==2.18.0
google-api-python-client==2.127.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.0
gspread==5.11.2
h11==0.14.0
httplib2==0.22.0
idna==3.7
iniconfig==2.0.0
oauth2client==4.1.3
oauthlib==3.2.2
outcome==1.3.0.post0
packaging==24.0
parse==1.20.1
parse-type==0.6.2
pillow==10.3.0
pluggy==1.5.0
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.8
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyparsing==3.1.2
PySocks==1.7.1
pytest==7.4.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
pyzmq==25.1.2
requests==2.31.0
requests-oauthlib==2.0.0
roundrobin==0.0.4
rsa==4.9
selenium==4.11.2
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
trio==0.25.0
trio-websocket==0.11.1
typing_extensions==4.10.0
uritemplate==4.1.1
urllib3==2.2.1
webdriver-manager==4.0.1
wsproto==1.2.0
